@model SauWeb.Models.Appoinment

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Appoinment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DoctorId" class="control-label"></label>
                <input asp-for="DoctorId" class="form-control" asp-items="ViewBag.DoctorId" />
                <span asp-validation-for="DoctorId"></span>
            </div>
            <div class="form-group">
                <label asp-for="Day" class="control-label"></label>
                <select asp-for="Day" class="form-control" >
                    @for (int i = 1; i <= 31; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
                <span asp-validation-for="Day" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                <select asp-for="Time" class="form-control" >

                    <option value="10.00">10.15</option>
                    <option value="11.00">11.15</option>
                    <option value="12.00">12.15</option>
                    <option value="12.00">12.15</option>
                    <option value="13.00">13.15</option>
                    <option value="14.00">14.15</option>
                    <option value="15.00">15.15</option>
                    <option value="16.00">16.15</option>
                    <option value="17.00">17.15</option>
                </select>
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Full" /> @Html.DisplayNameFor(model => model.Full)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Oluştur" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Randevu Listesine Geri Dön</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
